# Format is: HOST PROTOCOL [OPTIONS]
# HOST = IP or DNS
# PROTOCOL = smtp | qmtp
# OPTIONS = [port=NUMBER] [user] [pass] [starttls | ssl [insecure] ]
#
# Examples:
# A standard SMTP server:
# somesendmailserver.domain.com smtp
#
# A qmail server with QMQP setup:
# someqmailserver.domain.com qmqp
#
# A nonstandard SMTP server setup:
# someotherserver.domain.com smtp port=2525
#
# SMTP server supporting AUTH PLAIN
# mailserver smtp user=<user> pass=<pass>
#
# SMTP server supporting AUTH LOGIN 
# mailserver smtp user=<user> pass=<pass> auth-login
#
# SMTP server with smtps (legacy - use starttls instead)
# mailserver smtp user=<user> pass=<pass> port=465 ssl
#
# SMTP server on submission port with starttls
# mailserver smtp user=<user> pass=<pass> port=587 starttls
#
# SMTP server on submission port with starttls and self-signed certificate
# mailserver smtp user=<user> pass=<pass> port=587 starttls insecure
#
smtp.gmail.com smtp --port=465 --auth-login --user=alertubiquity@gmail.com --pass=opacuser --ssl

