CFLAGS="{{ config['portage'].make_conf.cflags }}"
CXXFLAGS="{{ config['portage'].make_conf.cxxflags }}"
CPU_FLAGS_X86="{{ config['portage'].make_conf.cpu_flags_x86 }}"
CHOST="{{ config['portage'].make_conf.chost }}"

MAKEOPTS="{{ config['portage'].make_conf.makeopts }}"

GENTOO_MIRRORS="http://www.mirrorservice.org/sites/distfiles.gentoo.org/"

ACCEPT_KEYWORDS="{{ config['portage'].make_conf.accept_keywords }}"

USE="{{ config['portage'].make_conf.use }}"
INPUT_DEVICES="{{ config['portage'].make_conf.input_devices }}"
VIDEO_CARDS="{{ config['portage'].make_conf.video_cards }}"

LINGUAS="{{ config['portage'].make_conf.linguas }}"

PORTDIR="/usr/portage"
DISTDIR="${PORTDIR}/distfiles"
PKGDIR="${PORTDIR}/packages"

EMERGE_DEFAULT_OPTS="${EMERGE_DEFAULT_OPTS} {{config['portage'].make_conf.emerge_default_opts}}"

{% if system['machine'].portage_profile is seLinuxProfile %}
POLICY_TYPES="{{config['portage'].make_conf.policy_types}}"
{% endif %}

GRUB_PLATFORMS="efi-64"
