# 29/10/17 
app-admin/sudo -sendmail
sys-boot/grub -fonts -themes

# 29/10/17 Genkernel Flags
sys-kernel/genkernel -firmware 
sys-apps/util-linux static-libs

# 29/10/17 Avoid installation of glib unless necessary
dev-util/pkgconfig internal-glib

# 29/10/17 Syslog-ng requires glib.  Reduce to minimum flags
dev-libs/glib -mime -dbus -xattr
dev-libs/libxslt -crypt
app-admin/syslog-ng caps -tcpd

# 29/10/17 Not installed by default but some useful flags for the future
app-antivirus/clamav clamdtop
app-crypt/gnupg -smartcard

# 18/03/18 - Vim flags
app-editors/vim vim-pager

{% if "dev-vcs/git" is installRequested -%}
# 29/10/17 Git requires the jit flag
dev-libs/libpcre2 jit
{%- endif %}

{% if "net-fs/samba" is installRequested -%}
# 29/10/17 Samba flags
sys-libs/tdb python
sys-libs/tevent python
{%- endif %}

{% if system['machine'].portage_profile is seLinuxProfile %}
# 29/10/17 SELinux USE Flags
# https://wiki.gentoo.org/wiki/SELinux/Installation
# If selinux is enabled the following USE Flags are recommended
# peer_perms open_perms ubac -unconfined
sec-policy/selinux-base peer_perms open_perms ubac -unconfined doc
sys-libs/libselinux python
sys-libs/libsemanage python
sys-apps/policycoreutils -dbus
{% endif %}
