# Ban IP for 3 minutes if it provides 10 invalid passwords in 60 seconds,
# which is enough to indicate a bruteforce attempt
[sshd]

enabled  = true
action = iptables[name=ssh, port={{ config['etc'].sshd.port }}]

#ignoreip = 192.168.1.

maxretry = 10 
findtime = 60
bantime = 180
