{%- for k1, disk in system['disks'].items()|sort() -%}
{%- for k2, partition in disk.partitions.items()|sort() -%}
{%- if partition.mount -%}
{{partition.machine_partition_device}}	{{partition.mount_point}}	{{partition.filesystem}}	{{partition.fstab_flags}}	{{partition.dump}} {{partition.pass}}
{% endif -%}
{%- endfor -%}
{%- endfor -%}

{%- for entry in config['etc'].fstab.entries %}
{{entry}}
{%- endfor -%}
