## sudoers file.
##
## This file MUST be edited with the 'visudo' command as root.
## Failure to use 'visudo' may result in syntax or file permission errors
## that prevent sudo from running.
##
## See the sudoers man page for the details on how to write a sudoers file.
##

##
## Host alias specification
##
## Groups of machines. These may include host names (optionally with wildcards),
## IP addresses, network numbers or netgroups.
Host_Alias	METAL = ubiquity, ubiquity-rescue, runty, runty-rescue
Host_Alias	VMS = binhost, bastion, openvpn, desktop

##
## User alias specification
##
## Groups of users.  These may consist of user names, uids, Unix groups,
## or netgroups.
User_Alias	ADMINS = kirbz
#User_Alias	MONITOR = monitor
#User_Alias	DAEMONS = apache

##
## Cmnd alias specification
##
## Groups of commands.  Often used to group related commands together.
Cmnd_Alias	PROCS = /bin/kill, /bin/killall, /usr/bin/pkill, /usr/bin/top
Cmnd_Alias	POWER = /sbin/halt, /sbin/reboot, /sbin/poweroff
Cmnd_Alias	FIREWALL = /sbin/iptables
Cmnd_Alias	MOUNT = /bin/mount -o nosuid\,nodev\,noexec, /bin/umount
Cmnd_Alias	GRADM = /sbin/gradm, /usr/bin/paxtest, /usr/sbin/paxctl-ng
Cmnd_Alias	LIBVIRT = /usr/bin/virsh 
Cmnd_Alias	OPENRC = /etc/init.d/net.eth0, /etc/init.d/net.lo0, /etc/init.d/net.br0
Cmnd_Alias	PORTAGE = /usr/bin/emerge
Cmnd_Alias	SHELL = /bin/bash

##
## Runas alias specification
##

##
## User privilege specification
##
root ALL=(ALL) ALL

# Disable this when satisfied with Sudo configuration
{% if system['machine'].portage_profile is seLinuxProfile %}
ADMINS ALL=(root) ROLE="sysadm_r" TYPE="sysadm_t" SHELL
{% else %}
ADMINS ALL=(root) SHELL
{% endif %}

ADMINS ALL=(root) PROCS
ADMINS ALL=(root) POWER
ADMINS ALL=(root) FIREWALL
ADMINS ALL=(root) MOUNT
ADMINS ALL=(root) OPENRC

ADMINS METAL=(root) LIBVIRT

ADMINS VMS=(root) GRADM
ADMINS VMS=(root) PORTAGE

##
## Defaults specification
Defaults editor=/usr/bin/vim, !env_editor
Defaults env_reset

## Uncomment to use a hard-coded PATH instead of the user's to find commands
# Defaults secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

## Uncomment to send mail if the user does not enter the correct password.
# Defaults mail_badpass

{% if system['machine'].portage_profile is seLinuxProfile %}
## Uncomment to enable logging of a command's output, except for
## sudoreplay and reboot.  Use sudoreplay to play back logged sessions.
## SELinux problems with writing to this directory
#Defaults log_output
#Defaults!/usr/bin/sudoreplay !log_output
#Defaults!/usr/local/bin/sudoreplay !log_output
#Defaults!REBOOT !log_output
{% else %}
## Uncomment to enable logging of a command's output, except for
## sudoreplay and reboot.  Use sudoreplay to play back logged sessions.
Defaults log_output
Defaults!/usr/bin/sudoreplay !log_output
Defaults!/usr/local/bin/sudoreplay !log_output
Defaults!REBOOT !log_output
{% endif %}

## Read drop-in files from /etc/sudoers.d
## (the '#' here does not indicate a comment)
#includedir /etc/sudoers.d
