TIMEOUT 30
ONTIMEOUT gentoo

DEFAULT gentoo

LABEL gentoo
   LINUX vmlinuz.img
   APPEND {{system['bootloader'].bootloader_cmdline}}

# https://kernsec.org/wiki/index.php/Kernel_Self_Protection_Project/Recommended_Settings

# Enable slub/slab allocator free poisoning (requires CONFIG_SLUB_DEBUG=y above).
# slub_debug=P

# Enable buddy allocator free poisoning (requires CONFIG_PAGE_POISONING=y above).
# page_poison=1

# Disable slab merging (makes many heap overflow attacks more difficult).
# slab_nomergeo

# Remove vsyscall entirely to avoid it being a fixed-position ROP target of any kind.
# (Same as CONFIG_LEGACY_VSYSCALL_NONE=y above.)
# vsyscall=none
