# UDP.IN Rules
#
# No Blank Lines in this file.
#
# Filter inbound UDP traffic
#
# 1. Specific Rules
#
#    On the command line, we specify the Source IP and Target IP
#    
#    On a guest, Target will be the Guest IP address
#    On a host, Target could be various VM IP addresses
#
#    Lines in this file that start with s are Rules for Specific Connections
#
#    RuleType SourceIP SourceNIC TargetIP TargetPort Action 
#    0        1        2         3        4          5
#
# 2. General Rules
#
#    Example: Allow all HTTP / HTTPS traffic from anywhere to anywhere
#
#    On the command line, we do not specify the Source IP or Target IP
#
#    Lines in this file that start with g are Rules for General Rules
#
#    RuleType SourceNIC TargetPort Action 
#    0        1         2          3
#
{% for rule in config['etc'].firewall.udp_in -%}
{{rule}}
{% endfor %}
