#	$OpenBSD: sshd_config,v 1.93 2014/01/10 05:59:19 djm Exp $

# This is the sshd server system-wide configuration file.  See
# sshd_config(5) for more information.

# This sshd was compiled with PATH=/usr/bin:/bin:/usr/sbin:/sbin

# The strategy used for options in the default sshd_config shipped with
# OpenSSH is to specify options with their default value where
# possible, but leave them commented.  Uncommented options override the
# default value.

# https://dev.gentoo.org/~swift/docs/security_benchmarks/openssh.html#item-xccdf_org.gentoo.dev.swift_group_config-default-rhosts
# Section 2.1.1
IgnoreRhosts yes
# Section 2.1.2
# # Gentoo recommends disabling this, but ssh reports it is deprecated anyway
# RhostsRSAAuthentication no
# Section 2.1.3
HostbasedAuthentication no
# Section 2.1.4
PermitEmptyPasswords no

# Section 2.1.5
# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
UsePAM yes

# Section 2.1.6 
Protocol 2
# Section 2.1.7 (see manpage for yes vs sandbox)
# The UsePrivilegeSeparation is no longer supported 
# (recent SSHD always runs with previlege separation)
# UsePrivilegeSeparation sandbox

# Section 2.1.8 (Default=no, but configured by Installer)
X11Forwarding {{ config['etc'].sshd.x11_forwarding }}
# Section 2.1.9
StrictModes yes

# Section 2.2.1
PermitRootLogin no
# Section 2.2.2 / 2.2.3 (Password Login)
PasswordAuthentication {{ config['etc'].sshd.password_auth }}
ChallengeResponseAuthentication no
PubkeyAuthentication {{ config['etc'].sshd.pubkey_auth }}

# Section 2.3.1
AllowUsers {{ config['etc'].sshd.allow_users }}
# Section 2.3.2
#  - Ignored as tcpwrappers not used (see iptables)
# Section 2.3.3
AddressFamily inet # IPv4 only
{% if config['etc'].conf_d.net.ip_address != 'dhcp' %}
ListenAddress {{ config['etc'].conf_d.net.ip_address }}
{% else %}
#ListenAddress {{ config['etc'].conf_d.net.ip_address }}
{% endif %}
Port {{ config['etc'].sshd.port }}

# Section 2.4.1
AllowTcpForwarding no


# The remainder of the file is defaults

# HostKeys for protocol version 2
# Identify this host by preventing MITM attacks
HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_dsa_key
# Putty does not support ed25519 as of 03/06/2017
#HostKey /etc/ssh/ssh_host_ecdsa_key
# OpenSSH cannot generate ecdsa as of 03/06/2017
#HostKey /etc/ssh/ssh_host_ed25519_key

# Lifetime and size of ephemeral version 1 server key
#KeyRegenerationInterval 1h
#ServerKeyBits 1024

# Ciphers and keying
#RekeyLimit default none

# Logging
# obsoletes QuietMode and FascistLogging
SyslogFacility AUTH
LogLevel INFO

# Authentication:

LoginGraceTime 30
MaxAuthTries 3
MaxSessions 1
TCPKeepAlive yes

#RSAAuthentication no

# The default is to check both .ssh/authorized_keys and .ssh/authorized_keys2
# but this is overridden so installations will only check .ssh/authorized_keys
#AuthorizedKeysFile	.ssh/authorized_keys
#AuthorizedPrincipalsFile none
#AuthorizedKeysCommand none
#AuthorizedKeysCommandUser nobody

# similar for protocol version 2
# Change to yes if you don't trust ~/.ssh/known_hosts for
# RhostsRSAAuthentication and HostbasedAuthentication
#IgnoreUserKnownHosts no

# Kerberos options
#KerberosAuthentication no
#KerberosOrLocalPasswd yes
#KerberosTicketCleanup yes
#KerberosGetAFSToken no

# GSSAPI options
#GSSAPIAuthentication no
#GSSAPICleanupCredentials yes
#GSSAPIStrictAcceptorCheck yes

#AllowAgentForwarding yes
#GatewayPorts no
#X11DisplayOffset 10
#X11UseLocalhost yes
#PermitTTY yes
#PrintMotd no
#PrintLastLog yes
#UseLogin no
#PermitUserEnvironment no
#Compression delayed
#ClientAliveInterval 0
#ClientAliveCountMax 3
#UseDNS yes
#PidFile /var/run/sshd.pid
#MaxStartups 10:30:100
#PermitTunnel no
#ChrootDirectory none
#VersionAddendum none

# no default banner path
Banner /etc/issue.net

# override default of no subsystems
Subsystem	sftp	/usr/lib64/misc/sftp-server

# the following are HPN related configuration options
# tcp receive buffer polling. disable in non autotuning kernels
#TcpRcvBufPoll yes
 
# disable hpn performance boosts
#HPNDisabled no

# buffer size for hpn to non-hpn connections
#HPNBufferSize 2048


# allow the use of the none cipher
#NoneEnabled no

# Example of overriding settings on a per-user basis
#Match User anoncvs
#	X11Forwarding no
#	AllowTcpForwarding no
#	PermitTTY no
#	ForceCommand cvs server

# Allow client to pass locale environment variables #367017
AcceptEnv LANG LC_*
