@version: 3.17
# $Id$
#
# Client Side Configuration

# https://bugs.gentoo.org/show_bug.cgi?id=426814
@include "scl.conf"

options { 
	threaded(yes);
	create-dirs(yes);

	use-dns(persist_only);
	dns-cache-hosts(/etc/hosts);

	# Create directories where needed
	create-dirs(yes);
	dir-owner("{{config['etc'].syslog.user}}");
	dir-group("{{config['etc'].syslog.group}}");
	dir-perm(0600);
	owner("{{config['etc'].syslog.user}}");
	group("{{config['etc'].syslog.group}}");
	perm(0600);

	# Re-establish dead connection after 10 seconds
	time-reopen(10);

	# Change to every 12 hours so you get a nice daily update of
	# how many messages syslog-ng missed (0).
	stats-freq(43200); 
	mark-freq(0); 

	# Detailed timestamps
        ts_format(iso);
};

# ============================================ #
# == Common Filters (by Level and Facility) == #
# ============================================ #

filter f_emerg { level(emerg); };
filter f_alert { level(alert..emerg); };
filter f_crit { level(crit..emerg); };
filter f_err { level(err..emerg); };
filter f_warning { level(warning..emerg); };
filter f_notice { level(notice..emerg); };
filter f_info { level(info..emerg); };
filter f_debug { level(debug..emerg); };

filter f_auth { facility(auth); };
filter f_authpriv { facility(authpriv); };
filter f_console { facility(console); };
filter f_cron { facility(cron); };
filter f_daemon { facility(daemon); };
filter f_ftp { facility(ftp); };
filter f_kern { facility(kern); };
filter f_security { facility(security); };
filter f_user { facility(user); };
#filter f_lpr { facility(lpr); };
#filter f_mail { facility(mail); };
#filter f_news { facility(news); };
#filter f_uucp { facility(uucp); };

# ============================================= #
# == Syslog Sources and Filters to be logged == #
# ============================================= #

# These are kernel or syslog messages generated by this host
# that otherwise would not be logged.  It is Syslog's responsibility
# to log these messages.
#
# These are logged locally then sent to d_remote.

# System, Syslog-ng and Kernel Sources respectively
source s_system { system(); internal(); file("/proc/kmsg"); };

# =========================================== #
# == Local Destinations for Syslog Sources == #
# =========================================== #

destination d_messages { file("/var/log/messages"); };
destination d_security { file("/var/log/security"); };
destination d_authlog { file("/var/log/auth.log"); };
destination d_cron { file("/var/log/cron"); };
destination d_console { file("/dev/tty8"); };
destination d_allusers { usertty("*"); };
#destination d_maillog { file("/var/log/maillog"); };
#destination d_lpd-errs { file("/var/log/lpd-errs"); };

# ============================================== #
# == Local and Remote Logs for Syslog Sources == #
# ============================================== #

# *.err;kern.debug;auth.notice;mail.crit /dev/console
log { source(s_system); filter(f_err); destination(d_console); };
log { source(s_system); filter(f_kern); filter(f_debug); destination(d_console); };
log { source(s_system); filter(f_auth); filter(f_crit); destination(d_console); };

# *.notice;kern.debug;auth.crit /var/log/messages
log { source(s_system); filter(f_notice); destination(d_messages); };
log { source(s_system); filter(f_kern); filter(f_debug); destination(d_messages); };
log { source(s_system); filter(f_auth); filter(f_crit); destination(d_messages); };
# *.notice;kern.debug;auth.crit d_remote
log { source(s_system); filter(f_notice); destination(d_remote); };
log { source(s_system); filter(f_kern); filter(f_debug); destination(d_remote); };
log { source(s_system); filter(f_auth); filter(f_crit); destination(d_remote); };

# security.* /var/log/security
log { source(s_system); filter(f_security); destination(d_security); };
# security.* d_remote
log { source(s_system); filter(f_security); destination(d_remote); };

# auth.info;authpriv.info /var/log/auth.log
log { source(s_system); filter(f_auth); filter(f_info); destination(d_authlog); };
log { source(s_system); filter(f_authpriv); filter(f_info); destination(d_authlog); };
# auth.info;authpriv.info d_remote
log { source(s_system); filter(f_auth); filter(f_info); destination(d_remote); };
log { source(s_system); filter(f_authpriv); filter(f_info); destination(d_remote); };

# cron.* /var/log/cron
log { source(s_system); filter(f_cron); destination(d_cron); };
# cron.* d_remote
log { source(s_system); filter(f_cron); destination(d_remote); };

# cron.* /var/log/cron
log { source(s_system); filter(f_emerg); destination(d_allusers); };
# cron.* d_remote
log { source(s_system); filter(f_emerg); destination(d_remote); };



# ============================================= #
# == App Sources to be sent to REMOTE hosts  == #
# ============================================= #

# Now collect the logs produced by other applications so they can be
# sent to d_remote for logging.
#
# Tag each of them to enable Remote Host to log them locally.

# dmesg file
source s_dmesg { file("/var/log/dmesg" program-override("dmesg")); };
# Support the pam_tally2 command
source s_tallylog { file("/var/log/tallylog" program-override("tallylog")); };
# Support the lastlog command
source s_lastlog { file("/var/log/lastlog" program-override("lastlog")); };
# Support the last and lastb commands
source s_wtmp { file("/var/log/wtmp" program-override("wtmp")); };
source s_btmp { file("/var/log/btmp" program-override("btmp")); };

# Apache files
source s_apache2 { 
   file("/var/log/apache2/access_log" flags(no-parse) program-override("apache")); 
   file("/var/log/apache2/error_log" flags(no-parse) program-override("apache")); 
   file("/var/log/apache2/ssl_access_log" flags(no-parse) program-override("apache")); 
   file("/var/log/apache2/ssl_error_log" flags(no-parse) program-override("apache")); 
   file("/var/log/apache2/ssl_request_log" flags(no-parse) program-override("apache")); 
   
};

# Let's Encrypt files 
source s_letsencrypt { 
   file("/var/log/letsencrypt/letsencrypt.log" flags(no-parse) program-override("letsencrypt")); 
};

# Libvirt files
source s_libvirt { 
   file("/var/log/libvirt/libvirtd.log" flags(no-parse) program-override("libvirt")); 
   file("/var/log/libvirt/virtlogd.log" flags(no-parse) program-override("libvirt")); 
   #file("/var/log/libvirt/qemu/VirtualMachine1.log" flags(no-parse) program-override("libvirt")); 
   #file("/var/log/libvirt/qemu/VirtualMachine2.log" flags(no-parse) program-override("libvirt")); 
};

# Portage files 
source s_portage { 
   file("/var/log/portage/elog/summary.log" flags(no-parse) program-override("portage")); 
   file("/var/log/emerge-fetch.log" flags(no-parse) program-override("portage")); 
   file("/var/log/emerge.log" flags(no-parse) program-override("portage")); 
};

# mysql files
#source s_mysql { 
#   file("/var/log/mysql/mysql.log" flags(no-parse) program-override("mysql")); 
#   file("/var/log/mysql/mysql.err" flags(no-parse) program-override("mysql")); 
#   file("/var/log/mysql/mysqld.err" flags(no-parse) program-override("mysql")); 
#};

# Xorg files
source s_xorg { 
   file("/var/log/Xorg.0.log" flags(no-parse) program-override("xorg")); 
};

# xrdp-sesman connections
#source s_xrdp-sesman{ 
#   file("/var/log/xrdp-sesman.log" flags(no-parse) program-override("xrdp-sesman")); 
#};

# Genkernel files
source s_genkernel { 
   file("/var/log/genkernel.log" flags(no-parse) program-override("genkernel")); 
};

# ========================================= #
# == Remote Destinations                 == #
# ========================================= #

# TLS Mutual Authentication Instructions for the Client
# https://www.balabit.com/sites/default/files/documents/syslog-ng-ose-latest-guides/en/syslog-ng-ose-guide-admin/html/procedure-configuring-mutual-tls-client.html
#
# Signing Certificates Instructions
# https://www.balabit.com/documents/syslog-ng-ose-latest-guides/en/syslog-ng-tutorial-mutual-auth-tls/html/create-ca.html
destination d_remote {
  network("{{config['etc'].syslog.remote_syslog_host}}" port({{config['etc'].syslog.remote_syslog_port}})
    transport("tls")
    tls(
      ca_dir("/etc/syslog-ng/tls/ca")
      key_file("/etc/syslog-ng/tls/clientkey.pem")
      cert_file("/etc/syslog-ng/tls/clientcert.pem")
    )
  );
};

# ========================================= #
# == App Log Instructions                == #
# ========================================= #

log { source(s_dmesg); destination(d_remote); };
log { source(s_tallylog); destination(d_remote); };
log { source(s_lastlog); destination(d_remote); };
log { source(s_wtmp); destination(d_remote); };
log { source(s_btmp); destination(d_remote); };

log { source(s_apache2); destination(d_remote); };
log { source(s_letsencrypt); destination(d_remote); };
log { source(s_libvirt); destination(d_remote); };
log { source(s_portage); destination(d_remote); };
#log { source(s_mysql); destination(d_remote); };
log { source(s_xorg); destination(d_remote); };
#log { source(s_xrdp-sesman); destination(d_remote); };
log { source(s_genkernel); destination(d_remote); };

