@version: 3.17
# $Id$
#
# Server Side Configuration

# https://bugs.gentoo.org/show_bug.cgi?id=426814
@include "scl.conf"

options { 
	threaded(yes);
	create-dirs(yes);

	# Resolve hostnames from /etc/hosts
	use-dns(persist_only);
	dns-cache-hosts("/etc/hosts");
	normalize-hostnames(yes);
	use-fqdn(no);
	
	# Don't trust the hostname sent on the wire, look it up in /etc/hosts
	keep-hostname(no);

	# Check the hostname contains valid characters
	check-hostname(yes);
	
	# Log just the hostname resolved on the server
	chain_hostnames(no); 

	# Create directories where needed
	create-dirs(yes);
	dir-owner("{{config['etc'].syslog.user}}");
	dir-group("{{config['etc'].syslog.group}}");
	dir-perm(0600);
	owner("{{config['etc'].syslog.user}}");
	group("{{config['etc'].syslog.group}}");
	perm(0600);

	# Re-establish dead connection after 10 seconds
	time-reopen(10);

	# Change it to every 12 hours so you get a nice daily update of
	# how many messages syslog-ng missed (0).
	stats-freq(10); 
	mark-freq(10); 

	# Detailed timestamps
	ts_format(iso);
};

# =========================================== #
# == Source for inbound log files from TCP == #
# =========================================== #

# Source of inbound TCP connection from Clients

# TLS Mutual Authentication Instructions for the Server
# https://www.balabit.com/sites/default/files/documents/syslog-ng-ose-latest-guides/en/syslog-ng-ose-guide-admin/html/procedure-configuring-mutual-tls-server.html
#
# Signing Certificates Instructions
# https://www.balabit.com/documents/syslog-ng-ose-latest-guides/en/syslog-ng-tutorial-mutual-auth-tls/html/create-ca.html
source s_tcp {
  network(ip(0.0.0.0) port({{config['etc'].syslog.remote_syslog_port}})
    transport("tls")
    tls(
      ca_dir("/etc/syslog-ng/tls/ca")
      key_file("/etc/syslog-ng/tls/serverkey.pem")
      cert_file("/etc/syslog-ng/tls/servercert.pem")
    ) 
  );
};

# ============================================= #
# == Syslog Sources and Filters to be logged == #
# ============================================= #

# These are kernel or syslog messages generated by this host
# that otherwise would not be logged.  It is Syslog's responsibility
# to log these messages.
#
# These are logged locally then sent to d_remote.

# System, Syslog-ng and Kernel Sources respectively
source s_system { system(); internal(); file("/proc/kmsg"); };


# ============================================ #
# == Common Filters (by Level and Facility) == #
# ============================================ #

filter f_emerg { level(emerg); };
filter f_alert { level(alert..emerg); };
filter f_crit { level(crit..emerg); };
filter f_err { level(err..emerg); };
filter f_warning { level(warning..emerg); };
filter f_notice { level(notice..emerg); };
filter f_info { level(info..emerg); };
filter f_debug { level(debug..emerg); };

filter f_auth { facility(auth); };
filter f_authpriv { facility(authpriv); };
filter f_console { facility(console); };
filter f_cron { facility(cron); };
filter f_daemon { facility(daemon); };
filter f_ftp { facility(ftp); };
filter f_kern { facility(kern); };
filter f_security { facility(security); };
filter f_user { facility(user); };
#filter f_lpr { facility(lpr); };
#filter f_mail { facility(mail); };
#filter f_news { facility(news); };
#filter f_uucp { facility(uucp); };

# ================================================= #
# == Local Destinations for Local Syslog Sources == #
# ================================================= #

destination d_messages { file("/var/log/messages"); };
destination d_security { file("/var/log/security"); };
destination d_authlog { file("/var/log/auth.log"); };
destination d_cron { file("/var/log/cron"); };
destination d_console { file("/dev/tty8"); };
destination d_allusers { usertty("*"); };
#destination d_maillog { file("/var/log/maillog"); };
#destination d_lpd-errs { file("/var/log/lpd-errs"); };

# =================================== #
# == Local Logs for Syslog Sources == #
# =================================== #

# *.err;kern.debug;auth.notice;mail.crit /dev/console
log { source(s_system); filter(f_err); destination(d_console); };
log { source(s_system); filter(f_kern); filter(f_debug); destination(d_console); };
log { source(s_system); filter(f_auth); filter(f_crit); destination(d_console); };

# *.notice;kern.debug;auth.crit /var/log/messages
log { source(s_system); filter(f_notice); destination(d_messages); };
log { source(s_system); filter(f_kern); filter(f_debug); destination(d_messages); };
log { source(s_system); filter(f_auth); filter(f_crit); destination(d_messages); };

# security.* /var/log/security
log { source(s_system); filter(f_security); destination(d_security); };

# auth.info;authpriv.info /var/log/auth.log
log { source(s_system); filter(f_auth); filter(f_info); destination(d_authlog); };
log { source(s_system); filter(f_authpriv); filter(f_info); destination(d_authlog); };

# cron.* /var/log/cron
log { source(s_system); filter(f_cron); destination(d_cron); };

# cron.* all_users
log { source(s_system); filter(f_emerg); destination(d_allusers); };


# ================================================== #
# == Local Destinations for Client Syslog Sources == #
# ================================================== #

destination d_messages_c { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/messages"); };
destination d_security_c { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/security"); };
destination d_authlog_c { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/authlog"); };
destination d_cron_c { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/cron"); };

# ==================================== #
# == Logs for Client Syslog Sources == #
# ==================================== #

# kern.debug;auth.crit /var/log/$HOST/$YEAR.$MONTH.$DAY/messages
log { source(s_tcp); filter(f_kern); filter(f_debug); destination(d_messages_c); };
log { source(s_tcp); filter(f_auth); filter(f_crit); destination(d_messages_c); };

# security.* /var/log/$HOST/$YEAR.$MONTH.$DAY/security
log { source(s_tcp); filter(f_security); destination(d_security_c); };

# auth.info;authpriv.info /var/log/$HOST/$YEAR.$MONTH.$DAY/auth.log
log { source(s_tcp); filter(f_auth); filter(f_info); destination(d_authlog_c); };
log { source(s_tcp); filter(f_authpriv); filter(f_info); destination(d_authlog_c); };

# cron.* /var/log/$HOST/$YEAR.$MONTH.$DAY/cron
log { source(s_tcp); filter(f_cron); destination(d_cron_c); };


# ================================================== #
# == Filters for Application Sources (by Program) == #
# ================================================== #

# These are the filters for the Client Logstreams
# that arrive into Source s_tcp
#
# Clients will send the entire log file produced by Applications
# App logs will be tagged by the Client so they can be written 
# to separate logs here

filter f_dmesg { program("dmesg"); };
filter f_tallylog { program("tallylog"); };
filter f_lastlog { program("lastlog"); };
filter f_wtmp { program("wtmp"); };
filter f_btmp { program("btmp"); };
filter f_apache2 { program("apache"); };
filter f_letsencrypt { program("letsencrypt"); };
filter f_libvirt { program("libvirt"); };
filter f_mysql { program("mysql"); };
filter f_xorg { program("xorg"); };
filter f_xrdp-sesman { program("xrdp-sesman"); };
filter f_genkernel { program("genkernel"); };

# ========================================== #
# == Destinations for Application Sources == #
# ========================================== #

# These are the destinations for the Client Logstreams
# that arrive into Source s_tcp

# dmesg file
destination d_dmesg { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/dmesg"); };
# Support the pam_tally2 command
destination d_tallylog { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/tallylog"); };
# Support the lastlog command
destination d_lastlog { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/lastlog"); };
# Support the last and lastb commands
# Syslog-ng does not support binary log transfer
destination d_wtmp { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/wtmp" template("${MSGONLY}")); };
destination d_btmp { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/btmp"); };

# The following Apache files are sent from Clients
#   /var/log/apache2/access_log
#   /var/log/apache2/error_log
#   /var/log/apache2/ssl_access_log
#   /var/log/apache2/ssl_error_log
#   /var/log/apache2/ssl_request_log
destination d_apache2 { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/apache.logs"); };

# The following Letsencrypt files are sent from Clients
#   /var/log/letsencrypt/letsencrypt.log
destination d_letsencrypt { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/letsencrypt.log"); };

# The following Libvirt files are sent from Clients
#   /var/log/libvirt/libvirtd.log
#   /var/log/libvirt/virtlogd.log
#   /var/log/libvirt/qemu/VirtualMachine1 .. n.log
destination d_libvirt { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/libvirt.logs"); };

# The following Portage files are sent from Clients
#   /var/log/portage/elog/summary.log
#   /var/log/emerge-fetch.log
#   /var/log/emerge.log
destination d_portage { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/portage.logs"); };

# The following mysql files are sent from Clients
#   /var/log/mysql/mysql.log
#   /var/log/mysql/mysql.err
#   /var/log/mysql/mysqld.err
destination d_mysql { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/mysql.logs"); };

# The following Xorg files are sent from Clients
#   /var/log/Xorg.0.log
destination d_xorg { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/Xorg.0.log"); };

# The following Libvirt files are sent from Clients
#   /var/log/xrdp-sesman.log
destination d_xrdp-sesman{ file("/var/log/$HOST/$YEAR.$MONTH.$DAY/xrdp-sesman.log"); };

# The following Genkernel files are sent from Clients
#   /var/log/genkernel.log
destination d_genkernel { file("/var/log/$HOST/$YEAR.$MONTH.$DAY/genkernel.log"); };

# ========================================= #
# == App Log Instructions                == #
# ========================================= #

log { source(s_tcp); filter(f_dmesg); destination(d_dmesg); };
log { source(s_tcp); filter(f_tallylog); destination(d_tallylog); };
log { source(s_tcp); filter(f_lastlog); destination(d_lastlog); };
log { source(s_tcp); filter(f_wtmp); destination(d_wtmp); };
log { source(s_tcp); filter(f_btmp); destination(d_btmp); };
log { source(s_tcp); filter(f_apache2); destination(d_apache2); };
log { source(s_tcp); filter(f_letsencrypt); destination(d_letsencrypt); };
log { source(s_tcp); filter(f_libvirt); destination(d_libvirt); };
log { source(s_tcp); filter(f_mysql); destination(d_mysql); };
log { source(s_tcp); filter(f_xorg); destination(d_xorg); };
log { source(s_tcp); filter(f_xrdp-sesman); destination(d_xrdp-sesman); };
log { source(s_tcp); filter(f_genkernel); destination(d_genkernel); };


